@{
    ViewData["Title"] = "O aplikacji";
}

<div class="container mt-5">
    <div class="row">
        <div class="col-md-8 offset-md-2">
            <h1 class="text-center">O aplikacji</h1>
            <p class="lead text-center">
                Aplikacja do zarządzania mieszkaniami i harmonogramami temperatury.
            </p>

            <div class="card mt-4">
                <div class="card-body">
                    <h3 class="card-title">Funkcje aplikacji</h3>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">
                            <strong>Zarządzanie mieszkaniami:</strong> Twórz, edytuj i usuwaj mieszkania.
                        </li>
                        <li class="list-group-item">
                            <strong>Harmonogramy temperatury:</strong> Planuj i kontroluj temperaturę w swoim mieszkaniu.
                        </li>
                        <li class="list-group-item">
                            <strong>Powiadomienia:</strong> Otrzymuj powiadomienia o nowych prośbach o dodanie do mieszkania.
                        </li>
                        <li class="list-group-item">
                            <strong>Statystyki:</strong> Analizuj koszty i zużycie energii.
                        </li>
                        <li class="list-group-item">
                            <strong>Filtrowanie:</strong> Wyszukuj harmonogramy według różnych kryteriów.
                        </li>
                    </ul>
                </div>
            </div>

            <div class="card mt-4">
                <div class="card-body">
                    <h3 class="card-title">Dla kogo jest ta aplikacja?</h3>
                    <p>
                        Aplikacja jest przeznaczona dla:
                    </p>
                    <ul>
                        <li><strong>Właścicieli mieszkań:</strong> Zarządzaj swoim mieszkaniem i zapraszaj współlokatorów.</li>
                        <li><strong>Współlokatorów:</strong> Kontroluj harmonogramy temperatury w swoim mieszkaniu.</li>
                        <li><strong>Administratorów:</strong> Zarządzaj wszystkimi użytkownikami i harmonogramami.</li>
                    </ul>
                </div>
            </div>

            
        </div>
    </div>
</div>