<div class="alert alert-info">
    <h4>Nie masz jeszcze mieszkania</h4>
    <a asp-action="Create" class="btn btn-primary">Dodaj mieszkanie</a>
    <span>lub</span>
    <a asp-action="WyslijProsbe" class="btn btn-success">Wyślij prośbę o dodanie</a>
</div>