@using Microsoft.AspNetCore.Identity
@model IEnumerable<IdentityUser>
@inject UserManager<IdentityUser> _userManager
<h2>Zarządzanie użytkownikami</h2>
<table class="table">
    <thead>
        <tr>
            <th>Email</th>
            <th>Rola</th>
            <th>Akcje</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var user in Model)
        {
            <tr>
                <td>@user.Email</td>
                <td>
                    @foreach (var role in await _userManager.GetRolesAsync(user))
                    {
                        <span class="badge bg-secondary me-1">@role</span>
                    }
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@user.Id" class="btn btn-sm btn-warning">Edytuj</a>
                    <a asp-action="Delete" asp-route-id="@user.Id" class="btn btn-sm btn-danger">Usuń</a>
                </td>
            </tr>
        }
        
    </tbody>
</table>